In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as pt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

In [3]:
df1 = pd.read_csv("Salary_Data.csv")
df1.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [4]:
df1.shape #this show dataframe have 375 rows and 6 cols

(375, 6)

In [5]:
df1.groupby('Job Title')['Job Title'].agg('count')

Job Title
Account Manager                 1
Accountant                      1
Administrative Assistant        2
Business Analyst                2
Business Development Manager    1
                               ..
UX Designer                     1
UX Researcher                   1
VP of Finance                   1
VP of Operations                1
Web Developer                   1
Name: Job Title, Length: 174, dtype: int64

In [6]:
#df2 = df1.drop(['Gender'],axis='colums') 
#optional if you want to drop extra columns

In [7]:
#data cleaning
df1.isnull().sum()

Age                    2
Gender                 2
Education Level        2
Job Title              2
Years of Experience    2
Salary                 2
dtype: int64

In [8]:
df3 = df1.dropna()
df3.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [9]:
df3.shape

(373, 6)

In [10]:
df3['Job Title'].unique()

array(['Software Engineer', 'Data Analyst', 'Senior Manager',
       'Sales Associate', 'Director', 'Marketing Analyst',
       'Product Manager', 'Sales Manager', 'Marketing Coordinator',
       'Senior Scientist', 'Software Developer', 'HR Manager',
       'Financial Analyst', 'Project Manager', 'Customer Service Rep',
       'Operations Manager', 'Marketing Manager', 'Senior Engineer',
       'Data Entry Clerk', 'Sales Director', 'Business Analyst',
       'VP of Operations', 'IT Support', 'Recruiter', 'Financial Manager',
       'Social Media Specialist', 'Software Manager', 'Junior Developer',
       'Senior Consultant', 'Product Designer', 'CEO', 'Accountant',
       'Data Scientist', 'Marketing Specialist', 'Technical Writer',
       'HR Generalist', 'Project Engineer', 'Customer Success Rep',
       'Sales Executive', 'UX Designer', 'Operations Director',
       'Network Engineer', 'Administrative Assistant',
       'Strategy Consultant', 'Copywriter', 'Account Manager',
       'Director of Marketing', 'Help Desk Analyst',
       'Customer Service Manager', 'Business Intelligence Analyst',
       'Event Coordinator', 'VP of Finance', 'Graphic Designer',
       'UX Researcher', 'Social Media Manager', 'Director of Operations',
       'Senior Data Scientist', 'Junior Accountant',
       'Digital Marketing Manager', 'IT Manager',
       'Customer Service Representative', 'Business Development Manager',
       'Senior Financial Analyst', 'Web Developer', 'Research Director',
       'Technical Support Specialist', 'Creative Director',
       'Senior Software Engineer', 'Human Resources Director',
       'Content Marketing Manager', 'Technical Recruiter',
       'Sales Representative', 'Chief Technology Officer',
       'Junior Designer', 'Financial Advisor', 'Junior Account Manager',
       'Senior Project Manager', 'Principal Scientist',
       'Supply Chain Manager', 'Senior Marketing Manager',
       'Training Specialist', 'Research Scientist',
       'Junior Software Developer', 'Public Relations Manager',
       'Operations Analyst', 'Product Marketing Manager',
       'Senior HR Manager', 'Junior Web Developer',
       'Senior Project Coordinator', 'Chief Data Officer',
       'Digital Content Producer', 'IT Support Specialist',
       'Senior Marketing Analyst', 'Customer Success Manager',
       'Senior Graphic Designer', 'Software Project Manager',
       'Supply Chain Analyst', 'Senior Business Analyst',
       'Junior Marketing Analyst', 'Office Manager', 'Principal Engineer',
       'Junior HR Generalist', 'Senior Product Manager',
       'Junior Operations Analyst', 'Senior HR Generalist',
       'Sales Operations Manager', 'Senior Software Developer',
       'Junior Web Designer', 'Senior Training Specialist',
       'Senior Research Scientist', 'Junior Sales Representative',
       'Junior Marketing Manager', 'Junior Data Analyst',
       'Senior Product Marketing Manager', 'Junior Business Analyst',
       'Senior Sales Manager', 'Junior Marketing Specialist',
       'Junior Project Manager', 'Senior Accountant', 'Director of Sales',
       'Junior Recruiter', 'Senior Business Development Manager',
       'Senior Product Designer', 'Junior Customer Support Specialist',
       'Senior IT Support Specialist', 'Junior Financial Analyst',
       'Senior Operations Manager', 'Director of Human Resources',
       'Junior Software Engineer', 'Senior Sales Representative',
       'Director of Product Management', 'Junior Copywriter',
       'Senior Marketing Coordinator', 'Senior Human Resources Manager',
       'Junior Business Development Associate', 'Senior Account Manager',
       'Senior Researcher', 'Junior HR Coordinator',
       'Director of Finance', 'Junior Marketing Coordinator',
       'Junior Data Scientist', 'Senior Operations Analyst',
       'Senior Human Resources Coordinator', 'Senior UX Designer',
       'Junior Product Manager', 'Senior Marketing Specialist',
       'Senior IT Project Manager', 'Senior Quality Assurance Analyst',
       'Director of Sales and Marketing', 'Senior Account Executive',
       'Director of Business Development', 'Junior Social Media Manager',
       'Senior Human Resources Specialist', 'Senior Data Analyst',
       'Director of Human Capital', 'Junior Advertising Coordinator',
       'Junior UX Designer', 'Senior Marketing Director',
       'Senior IT Consultant', 'Senior Financial Advisor',
       'Junior Business Operations Analyst',
       'Junior Social Media Specialist',
       'Senior Product Development Manager', 'Junior Operations Manager',
       'Senior Software Architect', 'Junior Research Scientist',
       'Senior Financial Manager', 'Senior HR Specialist',
       'Senior Data Engineer', 'Junior Operations Coordinator',
       'Director of HR', 'Senior Operations Coordinator',
       'Junior Financial Advisor', 'Director of Engineering'],
      dtype=object)

In [11]:
df3['position']=df3['Job Title'].apply(lambda x: (x.split(' ')[-1]))

C:\Users\User\AppData\Local\Temp\ipykernel_13176\4231985538.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['position']=df3['Job Title'].apply(lambda x: (x.split(' ')[-1]))

In [12]:
df3.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,position
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0,Engineer
1,28.0,Female,Master's,Data Analyst,3.0,65000.0,Analyst
2,45.0,Male,PhD,Senior Manager,15.0,150000.0,Manager
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0,Associate
4,52.0,Male,Master's,Director,20.0,200000.0,Director

In [48]:
df3['position'].unique()

array(['Engineer', 'Analyst', 'Manager', 'Associate', 'Director',
       'Coordinator', 'Scientist', 'Developer', 'Rep', 'Clerk',
       'Operations', 'Support', 'Recruiter', 'Specialist', 'Consultant',
       'Designer', 'CEO', 'Accountant', 'Writer', 'Generalist',
       'Executive', 'Assistant', 'Copywriter', 'Marketing', 'Finance',
       'Researcher', 'Representative', 'Officer', 'Advisor', 'Producer',
       'Sales', 'Resources', 'Management', 'Development', 'Capital',
       'Architect', 'HR', 'Engineering'], dtype=object)

In [14]:
df4 = df3.copy() #creating a deep copy
# df3.loc[8]

Age                                     26.0
Gender                                Female
Education Level                   Bachelor's
Job Title              Marketing Coordinator
Years of Experience                      1.0
Salary                               45000.0
position                         Coordinator
Name: 8, dtype: object

In [15]:
df4['Job Title'] = df3['position']
df4.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,position
0,32.0,Male,Bachelor's,Engineer,5.0,90000.0,Engineer
1,28.0,Female,Master's,Analyst,3.0,65000.0,Analyst
2,45.0,Male,PhD,Manager,15.0,150000.0,Manager
3,36.0,Female,Bachelor's,Associate,7.0,60000.0,Associate
4,52.0,Male,Master's,Director,20.0,200000.0,Director

In [49]:
position_stats = df4.groupby('Job Title')['Job Title'].agg('count').sort_values(ascending=False)
position_stats

Job Title
Manager           96
Analyst           69
Coordinator       28
Specialist        20
Engineer          17
Scientist         16
Designer          15
Marketing         13
Operations        12
Associate          9
Developer          9
Representative     8
Director           7
Accountant         6
Generalist         5
Advisor            5
Recruiter          4
Consultant         4
Finance            3
Executive          2
Researcher         2
Assistant          2
Copywriter         2
Officer            2
Resources          2
Engineering        2
Rep                2
Support            1
Architect          1
Sales              1
Capital            1
CEO                1
Producer           1
Clerk              1
Development        1
Management         1
HR                 1
Writer             1
Name: Job Title, dtype: int64

In [18]:
len(position_stats[position_stats<=5])
position_stats_less_than_3 = position_stats[position_stats<=5]

In [50]:
df4.position = df4.position.apply(lambda x: 'other' if x in position_stats_less_than_3 else x)
df4.position.unique()

array(['Engineer', 'Analyst', 'Manager', 'Associate', 'Director',
       'Coordinator', 'Scientist', 'Developer', 'other', 'Operations',
       'Specialist', 'Designer', 'Accountant', 'Marketing',
       'Representative'], dtype=object)

In [20]:
df4.Salary.describe()

count       373.000000
mean     100577.345845
std       48240.013482
min         350.000000
25%       55000.000000
50%       95000.000000
75%      140000.000000
max      250000.000000
Name: Salary, dtype: float64

In [51]:
df4.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,position
0,32.0,Male,Bachelor's,Engineer,5.0,90000.0,Engineer
1,28.0,Female,Master's,Analyst,3.0,65000.0,Analyst
2,45.0,Male,PhD,Manager,15.0,150000.0,Manager
3,36.0,Female,Bachelor's,Associate,7.0,60000.0,Associate
4,52.0,Male,Master's,Director,20.0,200000.0,Director

In [22]:
df5 = df4.copy()
df5.rename(columns = {'Education Level':'Education'}, inplace = True)
df5.rename(columns = {'Years of Experience':'YOE'}, inplace = True)
df5.drop('Job Title', inplace=True, axis=1)
df5.head()

    Age  Gender   Education   YOE    Salary   position
0  32.0    Male  Bachelor's   5.0   90000.0   Engineer
1  28.0  Female    Master's   3.0   65000.0    Analyst
2  45.0    Male         PhD  15.0  150000.0    Manager
3  36.0  Female  Bachelor's   7.0   60000.0  Associate
4  52.0    Male    Master's  20.0  200000.0   Director

In [23]:
#dummy hot encoding
dummiesGender = pd.get_dummies(df5.Gender)
dummiesEducation = pd.get_dummies(df5.Education)
dummiesPosition = pd.get_dummies(df5.position)

In [52]:
df6 = pd.concat([df5,dummiesGender,dummiesEducation,dummiesPosition],axis='columns')

In [53]:
df6.head()

,Age,Gender,Education,YOE,Salary,position,Female,Male,Bachelor's,Master's,...,Developer,Director,Engineer,Manager,Marketing,Operations,Representative,Scientist,Specialist,other
0,32.0,Male,Bachelor's,5.0,90000.0,Engineer,False,True,True,False,...,False,False,True,False,False,False,False,False,False,False
1,28.0,Female,Master's,3.0,65000.0,Analyst,True,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2,45.0,Male,PhD,15.0,150000.0,Manager,False,True,False,False,...,False,False,False,True,False,False,False,False,False,False
3,36.0,Female,Bachelor's,7.0,60000.0,Associate,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4,52.0,Male,Master's,20.0,200000.0,Director,False,True,False,True,...,False,True,False,False,False,False,False,False,False,False

In [57]:
df7 = df6.drop(['Gender','Education','position'],axis=1)
df7.head(2)

,Age,YOE,Salary,Female,Male,Bachelor's,Master's,PhD,Accountant,Analyst,...,Developer,Director,Engineer,Manager,Marketing,Operations,Representative,Scientist,Specialist,other
0,32.0,5.0,90000.0,False,True,True,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
1,28.0,3.0,65000.0,True,False,False,True,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [58]:
df7.shape

(373, 23)

In [59]:
#removing dependernt variable
x = df7.drop('Salary',axis=1)
x.head()

,Age,YOE,Female,Male,Bachelor's,Master's,PhD,Accountant,Analyst,Associate,...,Developer,Director,Engineer,Manager,Marketing,Operations,Representative,Scientist,Specialist,other
0,32.0,5.0,False,True,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
1,28.0,3.0,True,False,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2,45.0,15.0,False,True,False,False,True,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3,36.0,7.0,True,False,True,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,52.0,20.0,False,True,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False

In [60]:
y=df7.Salary
y.head()

0     90000.0
1     65000.0
2    150000.0
3     60000.0
4    200000.0
Name: Salary, dtype: float64

In [61]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=10)
#20% of my models will be my test samples

In [62]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_train,y_train)
#~91.6% score

0.9159253331913539

In [63]:
#K fold cross validation
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=6, test_size=0.2, random_state=0)#randomize samples
cross_val_score(LinearRegression(), x, y, cv=cv)
#~89.1% - 93.5%

array([0.91375029, 0.90542408, 0.89126156, 0.93526469, 0.9098586 ,
       0.91703875])

In [64]:
import warnings

In [84]:
#grid search cv
#to get the best algorithm
from sklearn.model_selection import GridSearchCV
from sklearn.exceptions import ConvergenceWarning
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def select_best_algorithm(X, y):
    models = {
        'Linear_Regression': LinearRegression(),
        'Lasso': Lasso(max_iter=1000),
        'Decission_Tree': DecisionTreeRegressor()
    }
    parameters={
        'Linear_Regression':{},
        'Lasso': {'alpha': [0.01,0.1, 1.0,2,10,20,25,30]},
        'Decission_Tree':{'max_depth':[None, 5, 10]}
    }
    
    best_model = None
    best_score = float('-inf')
    best_params = None
    
    for model_name, model in models.items():
        if model_name in parameters:
            param_grid = parameters[model_name]
            with warnings.catch_warnings():
                warnings.filterwarnings("ignore",category=ConvergenceWarning)
                grid_search = GridSearchCV(model, param_grid=param_grid, scoring='r2')
                grid_search.fit(X ,y)
            
            if grid_search.best_score_ > best_score:
                best_model = model_name
                best_score = grid_search.best_score_
                best_params = grid_search.best_params_
    return best_model, best_score, best_params

best_model, best_score, best_params=select_best_algorithm(x ,y)

In [85]:
scores=[]
scores.append({
    'model':best_model,
    'best_score':best_score,
    'best_params':best_params
})
pd.DataFrame(scores,columns=['model','best_score','best_params'])

   model  best_score    best_params
0  Lasso    0.875284  {'alpha': 30}

In [86]:
from sklearn.linear_model import Lasso

In [87]:
#-------------lasso model-------------------------

In [88]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import mean_squared_error, r2_score

In [89]:
X1 = df5[['Age', 'Gender','Education','YOE', 'position']]
y1 = df5['Salary']
# seperating independent and dependent variables

In [90]:
#hot encoding columns which are in string 
categorical_cols = ['Gender', 'Education','position']
ct = ColumnTransformer([('encoder', OneHotEncoder(), categorical_cols)], remainder='passthrough')
X_encoded = ct.fit_transform(X1)

In [91]:
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

In [92]:
#training lasso model
lasso_model = Lasso()
lasso_model.fit(X_train, y_train)

Lasso()

In [93]:
def predict_salary(age,gender, education, position, YOE):
    input_data = pd.DataFrame([[age,gender, education, YOE, position]],
                              columns=['Age','Gender','Education', 'YOE', 'position'])
    # Create a DataFrame with the custom input values
    
    input_encoded = ct.transform(input_data)
    # Apply one-hot encoding to the input data
    
    predicted_salary = lasso_model.predict(input_encoded)

    return predicted_salary[0]

In [94]:
age = 40
gender='Male'
education = "Master's"
job_title = 'Analyst'
years_of_experience = 9

predicted_salary = predict_salary(age,gender, education, job_title, years_of_experience)
predicted_salary

118886.19978718327

In [95]:
#exporting the model
import pickle
with open('Salary_Data.pickle','wb') as f:
    pickle.dump(lasso_model,f)

In [96]:
with open('column_transformer.pickle', 'wb') as f2:
    pickle.dump(ct, f2)

In [ ]:
'''
#To load model and transformer in any other file
# Load the trained Lasso model
with open('lasso_model.pkl', 'rb') as file:
    lasso_model = pickle.load(file)

# Load the ColumnTransformer object
with open('column_transformer.pkl', 'rb') as file:
    ct = pickle.load(file
'''

In [101]:
#creating JSON
import json
columns={
    'data_colums' : [col.lower() for col in x.columns]
}
with open('colums.json','w') as f3:
    f3.write(json.dumps(columns))